/* --------------------------------- Fontes --------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-inter: "Inter", sans-serif;
$font-aclonica: "Aclonica", sans-serif;
$font-bebas: "Bebas Neue", sans-serif;

/* ---------------------------------- Cores --------------------------------- */
$color-primary: #9e5dff;
$color-secundary: #1d232a;

/* --------------------------------- Fontes --------------------------------- */
$sm-font: 12px;
$md-font: 15px;
$mdres-font: calc(10px + 0.5vw);
$bg-font: 22px;
$xl-font: calc(10px + 2vw);
$xxl-font: calc(60px + 3vw);

/* ------------------------------- Backgrounds ------------------------------ */

$img-noise: url("../../public/covers/Noise.svg");

$img-blobTL: url("../../public/covers/Blob.topLeft.svg");
$img-blobTR: url("../../public/covers/Blob.topRight.svg");
$img-blobBL: url("../../public/covers/Blob.botLeft.svg");
$img-blobBR: url("../../public/covers/Blob.botRight.svg");

$line-one: url("../../public/lines/lineONE.png");
$line-two: url("../../public/lines/lineTWO.svg");

$logo-white: url("../../public/logo/WOWlogoPT.png");
$logo-black: url("../../public/logo/WOWlogoBC.png");
