@import "variables";

/* ----------------------------- Primary button ----------------------------- */
.primaryButton {
  margin: 0px 10px;
  padding: -15px 20px;
  background-color: transparent;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  font-size: $sm-font;
  font-family: $font-inter;
  border: 1px solid;
  z-index: 1;
}
.primaryButton::before,
.primaryButton::after {
  content: "";
  display: block;
  width: 1px;
  height: 1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: $color-primary;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}
.primaryButton::before {
  top: -1em;
  left: -1em;
}
.primaryButton::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.primaryButton:hover::before,
.primaryButton:hover::after {
  height: 200px;
  width: 200px;
}
.primaryButton:hover {
  color: rgb(10, 25, 30);
}
.primaryButton:active {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

/* ------------------------------ Link button ------------------------------- */
.linkButton {
  background-color: transparent !important;
  font-size: $sm-font;
  font-family: $font-inter;
  text-transform: uppercase;
  margin: 0px 20px;
}
.linkButton:hover {
  opacity: 100%;
  color: $color-primary;
  -webkit-transition: 0s ease;
  -o-transition: 0s ease;
  transition: 0s ease;
}

.SocialLink:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(69%) sepia(57%)
    saturate(3941%) hue-rotate(223deg) brightness(100%) contrast(103%);
  filter: brightness(0) saturate(100%) invert(69%) sepia(57%) saturate(3941%)
    hue-rotate(223deg) brightness(100%) contrast(103%);
}
