@import "variables";

/* ----------------------------- Covers ----------------------------- */
.relativeDiv {
  position: relative;
  width: 100vw;
  height: auto;
}

.backgroundImage {
  mix-blend-mode: color-burn;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 500vh;
  background-image: $img-noise;
  background: cover;
  z-index: -10;
}

.absoluteBack {
  background-repeat: no-repeat;
  position: absolute;
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  z-index: -9;
}

.topLeft {
  top: 0;
  right: 0;
  background-image: $img-blobTL;
}

.topRight {
  top: 0;
  right: 0;
  background-image: $img-blobTR;
  margin-right: -50px;
}

.botRight {
  top: 1;
  right: 0;
  background-image: $img-blobBR;
  margin-right: -30vw;
}

.botLeft {
  top: 1;
  right: 0;
  background-image: $img-blobBL;
}

.lineONE {
  top: 10vw;
  left: 0;
  background-image: $line-one;
}

/* ------------------------------ mockups icons ----------------------------- */

.mockup {
  object-fit: contain;
  max-width: 1000px;
  width: 90% !important;
  position: relative !important;
  height: unset !important;
  margin-bottom: 15vw;
}

.videomock {
  border-radius: 20px;
  border: #fff solid 5px;
  position: absolute;
  margin-top: -4%;
  top: 1;
  left: 0;
  margin-left: 5%;
  width: 30%;
  max-width: 500px;
  z-index: 10;
}

//icons

.aboutIcon {
  position: absolute;
  top: 1;
  width: 9vw;
}

.react {
  margin-left: 17vw;
  margin-top: -18vw;
  left: 0;
}

.sass {
  width: 8vw !important;
  margin-left: 8vw;
  margin-top: -8vw;
  left: 0;
}

.js {
  margin-left: 17vw;
  margin-top: 2vw;
  left: 0;
}

.phyton {
  width: 8vw !important;
  margin-right: 17vw;
  margin-top: -18vw;
  right: 0;
}

.tailwind {
  margin-right: 8vw;
  margin-top: -8vw;
  right: 0;
}

.nextjs {
  margin-right: 17vw;
  margin-top: 2vw;
  right: 0;
}

/* ---------------------------------- Divs ---------------------------------- */

.divHeader {
  position: relative;
  margin-top: -80px;
  min-height: 70vh;
  height: 50vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divAbout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cardivs {
  padding: 15%;
  height: 30vw;
  width: 100vw;
  min-height: 200px;
  max-height: 400px;
}

.cardBorder {
  border: #36283d solid 4px;
  border-radius: 25px;
}
