@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  overflow-x: hidden !important;
}

*[data-theme="dark"] {
  color: aliceblue;
}

#overflow {
  overflow: hidden;
}

/* ---------------------------- animations global --------------------------- */

.text-focus-in {
  -webkit-animation: text-focus-in 1s ease-in-out alternate both;
  animation: text-focus-in 1s ease-in-out alternate both;
}

/*
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

[data-theme="winter"] .filter {
  filter: brightness(0) saturate(100%) invert(29%) sepia(32%) saturate(531%)
    hue-rotate(174deg) brightness(93%) contrast(96%);
}

[data-theme="winter"] .filter2 {
  filter: brightness(0) saturate(100%) invert(29%) sepia(32%) saturate(531%)
    hue-rotate(174deg) brightness(93%) contrast(96%) opacity(0.5);
}
