@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  overflow-x: hidden;
}

.Overflow {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

* {
  font-weight: normal;
}

*[data-theme="dark"] {
  color: aliceblue;
}

/* ---------------------------- animations global --------------------------- */

.text-focus-in {
  -webkit-animation: text-focus-in 1s ease-in-out alternate both;
  animation: text-focus-in 1s ease-in-out alternate both;
}

/*
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
