@import "variables";

/* ----------------------------- Navbar ----------------------------- */
.backNav {
  padding: 10px;
  background-color: transparent;
  box-shadow: 0px 0px 1px #1e1e1ea1;
}

.navbarStyle {
  position: relative;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}
