@import "variables";

/* ----------------------------- Texts ----------------------------- */

.bigHDTXT {
  font-size: $xxl-font;
  font-family: $font-aclonica;
  text-align: center;
  font-style: normal;
  font-weight: 400;
}

.UltrabigTXT {
  font-size: $uxl-font;
  font-family: $font-aclonica;
  text-align: center;
  font-style: normal;
  font-weight: 400;
}

.W {
  font-family: $font-inter;
  font-weight: 700;
  margin-top: -0.55vw;
}

.smallHDTXT {
  font-size: $xl-font;
  color: $color-primary;
  font-family: $font-bebas;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 15px;
}

.infos {
  margin-bottom: 15vw;
  font-family: $font-inter;
  font-size: $mdres-font;
  font-style: normal;
  font-weight: 500;
  line-height: calc(20px + 2vw);
}

.titulo {
  margin-bottom: 10px;
  font-family: $font-bebas;
  font-size: $xl-font;
  letter-spacing: 5.52px;
}

.paragrafo {
  font-family: $font-inter;
  font-size: $sm-font;
  font-style: normal;
  font-weight: 400;
  line-height: calc(15px + 2vw);
}

.card {
  font-family: $font-inter;
  font-size: $sm-font;
  font-style: normal;
  font-weight: 400;
  line-height: calc(15px + 2vw);
  margin: 5px;
}
